/Stromnetzbetreiber.csv.meta.json
/Stromnetzbetreiber.r2rml.ttl
/Stromnetzbetreiber.rml.ttl
/tarif.csv.meta.json
/tarif.r2rml.ttl
/tarif.rml.ttl
/tarif_categorien.csv.meta.json
/tarif_categorien.r2rml.ttl
/tarif_categorien.rml.ttl
